@import "variables";

:root {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: $text-primary;
  background-color: $bg-primary;
}

#navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: $bg-secondary;
  transition: width 150ms ease;
  &:hover {
    width: 16rem;
    #link-text {
      display: block;
    }
  }
}

#navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#nav-item {
  width: 100%;
}

#nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  svg {
    min-width: 2.5rem;
    margin: 0 1.25rem;
  }
}

#link-text {
  display: none;
  margin-left: 1rem;
}

.main {
  margin-left: 5rem;
  padding-left: 1rem;
}

//TODO: modificar scroll bar
